{% extends "base.html" %}

{% block title %}我的筆記 | Cheng-Ho Wang{% endblock %}
{% block meta_description %}Cheng-Ho Wang 整理的學習筆記、常用網站與資源連結。{% endblock %}
{% block og_title %}我的筆記 | Cheng-Ho Wang{% endblock %}
{% block og_description %}Cheng-Ho Wang 整理的學習筆記、常用網站與資源連結。{% endblock %}

{% block content %}
    <h1>我的筆記</h1>
    <p>這裡是我整理的一些常用網站和資源連結。</p>

    <ul class="link-list">
        <li>
            <a href="https://space.bilibili.com/8903914/lists" target="_blank">findingnothing</a>
            <ul>
                <li>
                    <a href="https://space.bilibili.com/8903914/lists/1048826?type=season" target="_blank">econometric</a>
                </li>
                <li>
                    <a href="https://space.bilibili.com/8903914/lists/3273488?type=season" target="_blank">financial engineering</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="https://www.dropbox.com/scl/fo/3ek8h0krx68wlozhmcagt/ACNmPrScnF10KzbwryaQGu0?rlkey=569b9i8vus1o53aqdy107r58p&st=drgvaw9x&dl=0" target="_blank">考古題</a>
        </li>
    </ul>

{% endblock %}
